body {
    margin: 0;
    padding: 0;
    background: #222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

.container {
    width: 90%;
    margin: 0 auto;    
}

header {
    background: #55d6aa;
    min-height: 80px;
}

/* header::after {
    content: '';
    display: table;
    clear:both;
 }  */ 


.logo {
    float: left;
    padding-top: 30px;
    max-width: 250px;
    max-height: 100px;
}

nav {
    float: right;
}

nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 35px;
    padding-top: 25px;
    
}

nav a {
    text-decoration: none;
    color: #444;
    text-transform: uppercase;

}

nav a:hover {
    color: #000;

}

.content-box {
    padding: 30px;
    margin: auto;
    border: 1px solid #55d6aa;
    color:beige;
}